.container{
    position:fixed;
    left: 370px;
    top: 150px;   
}
h1{
    position: fixed;
    left: 44%;
    top: 50px;
    font-size: xx-large;
    font-weight: 900;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
table{
    width: 450px;
    height: 350px;
}
#clr{
    height: 90px;
}

input{
    width: 150px;
    height: 50px;
    
}
#input{
    width: 450px;
    height: 70px;
    background-color: rgb(163, 227, 231);
}
.num{
    background-color:lightgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
